# Xojo (formerly REALbasic and Real Studio)

Builds*
BuildPath*
DebugPath*
*.debug
*.debug.app
Debug*
*.rbuistate
*.xojo_uistate
*obsolete*
app.config
*errors*.txt
*errors*.csv
*errors*.json
*.zip
*.log
*.csv
DB/desktop.ini
*WhoAmI.txt
*.bak
*.lnk